.section-services {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.section-services-content {
	padding-top: 134px;
	padding-bottom: 145px;
}

.section-services-content h3 {
	font-family: Poppins;
	font-size: 1.3125em;
	font-weight: 500;
	letter-spacing: 0.145em;
}

.section-services-content h2 {
	font-family: Poppins;
	font-weight: 700;
	letter-spacing: 0.015em;
	font-size: 3em;
	position: relative;
	font-size: 3rem;
	padding: 32px 0;
}
.section-services-content h2::after {
	content: '';
	width: 97.5px;
	border: 1.5px solid var(--text-color-primary);
	position: absolute;
	bottom: 0;
	left: 0;
}

.section-services-content p {
	font-family: Poppins;
	font-size: 1.3125em;
	font-weight: 300;
	letter-spacing: 0.04em;
	color: var(--text-color-primary);
	margin: 32px 0;
}

.section-services-content button {
	padding: 10px 28px;
}

.section-services-boxes {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	grid-template-rows: repeat(4, 1fr);
	gap: 10px;
	max-width: 610px;
	margin: auto;
}

.section-services-box {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	align-items: center;
	padding: 35px;
}
.section-services-box h3 {
	font-family: Poppins;
	font-size: 1.3125em;
	font-weight: 600;
	letter-spacing: 0.06em;
	text-transform: uppercase;
	margin-bottom: 4px;
}

.section-services-box p {
	font-family: Poppins;
	font-size: 1.0625em;
	font-weight: 300;
	letter-spacing: 0.04em;
	color: var(--text-color-primary);
}

.section-services-box--gray {
	background: rgb(21, 21, 21);
	background: linear-gradient(
		225deg,
		rgba(21, 21, 21, 0.3) 0%,
		rgba(29, 32, 41, 0.4) 100%
	);
}
.section-services-box--blue {
	background: rgb(0, 0, 0);
	background: linear-gradient(
		29deg,
		rgb(6, 7, 12) 46%,
		rgba(109, 147, 252, 0.1) 84%
	);
}

.section-services-box:nth-of-type(1) img {
	margin-bottom: 16px;
}

.section-services-box:nth-of-type(2) img {
	margin-bottom: 25px;
}

.section-services-box:nth-of-type(3) img {
	margin-bottom: 11.5px;
}

.section-services-box:nth-of-type(4) img {
	margin-bottom: 3.5px;
}

@media screen and (min-width: 768px) {
	.section-services-boxes {
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(2, 1fr);
	}
	.section-services {
		flex-direction: row;
	}
}
